@import '../../theme/palette';

.home {
  display: flex;
  background: url('../../theme/assets/panorama.jpg') center 80%;
  flex-direction: row;
  background-size: cover;
  transition: 0.5s ease all;
  flex-wrap: wrap;

  &.blurred {
    filter: blur(2px);
  }

  .profil {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin: 100px 50px 100px 10px;
    text-align: center;
    border: 5px solid $paletteColor5;
  }

   h1 {
     font-family: 'roboto_condensedlight', sans-serif;
     letter-spacing: 0.15em;
     font-size: 45px;
     color: $paletteColor2;
     text-align: center;
     text-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
     padding: 125px 10px 2px 1px;

     span {
       color: $paletteColor5;
       text-transform: capitalize;
     }
   }

  h2 {
    display: inline-block;
    width: 650px;
    font-family: 'roboto_condensedregular', Helvetica;
    color: $paletteColor2;
    font-size: 25px;
    font-weight: lighter;
    letter-spacing: 0.1em;
  }

 a {
   display: block;
    margin: 20px;
    border-radius: 5px;
    width: 200px;
    height: 40px;
    color: $paletteColor2;
    text-align: center;
    background: $paletteColor5;
    outline: none;

    &:hover {
      outline: none;
      background: $paletteColor4;
      color: $paletteColor6;
    }
  }

}

@media (min-width: 768px) and (max-width: 959px) {
  .home {
    min-width: 768px;

    img {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      margin: 100px 50px 100px 10px;
      text-align: center;
      border: 5px solid #1A9696;
    }
  }



}


@media (min-width: 480px) and (max-width: 767px) {
  .home {
    min-width: 480px;

    img {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      margin: 100px 50px 100px 10px;
      text-align: center;
      border: 5px solid #1A9696;
    }



  }
}

@media (min-width: 320px) and (max-width: 479px) {
  .home {
    min-width: 320px;


  }
}