@import '../../theme/palette';

.home {
  display: flex;
  background: url('../../theme/assets/panorama.jpg') center 80%;
  flex-direction: row;
  background-size: cover;
  transition: 0.5s ease all;
  flex-wrap: wrap;
  overflow: hidden;

  &.blurred {
    filter: blur(2px);
  }

  img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin: 100px 50px 100px 10px;
    text-align: center;
    border: 5px solid $paletteColor5;
  }

   h1 {
     font-family: 'roboto medium', sans-serif;
     letter-spacing: 0.15em;
     font-size: 45px;
     color: $paletteColor2;
     text-align: center;
     text-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
     margin-top: 125px;

     span {
       color: $paletteColor5;
       text-transform: capitalize;
     }
   }

  h2 {
    display: inline-block;
    width: 650px;
    font-family: 'roboto medium', Helvetica;
    color: $paletteColor2;
    font-size: 25px;
    font-weight: lighter;
    letter-spacing: 0.1em;
  }
}

@media (min-width: 768px) and (max-width: 959px) {
  .home {
    min-width: 768px;
  }
}


@media (min-width: 480px) and (max-width: 767px) {
  .home {
    min-width: 480px;

    img {
      width: 150px;
      height: 150px;
    }

    .blockText {
      width: 64%;
      h1 {
        font-size: 25px;
      }

      h2 {
        font-size: 15px;
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 479px) {
  .home {
    min-width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    img {
      width: 150px;
      height: 150px;
      margin: 127px auto;
      margin-bottom: -110px;
    }

    .blockText {
      width: 100%;


      h1 {
        font-size: 25px;
      }

      h2 {
        font-size: 15px;
      }
    }


  }
}