@import '../../theme/palette';

.header {
  display: flex;
  flex-direction: row;
  font-family: 'roboto medium', Helvetica;
  width: 100%;
  margin-left: -9px;
  justify-content: space-around;

  img {
    margin-top: 10px;
    width: 150px;
    height: 35px;
    margin-left: 50px;
  }

  .topBarLeft {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    height: 11%;
    transition: all 0.5s ease;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    background: $paletteColor9;
    opacity: 0.7;

    &:after {
      content: '';
      display: table;
    }

    &:before {
      box-sizing: inherit;
    }
  }

  .menu {
    display: flex;
    justify-content: space-around;
  }

  .menu li, .menu li a {
    display: block;
    padding: 1px 10px;
    line-height: 1;
    list-style: none;
    font-family: 'roboto thin', Helvetica;
    color: $paletteColor2;
    text-decoration: none;

    a:hover {
      text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
    }
  }

    & .menu li a {
      color: #555;
    }
}


@media (min-width: 768px) and (max-width: 959px) {
  .header {
    width: 768px;
  }

}


@media (min-width: 480px) and (max-width: 767px) {
  .header {
    width: 480px;

    .topBarLeft {
      display: flex;
      width: 30%;
    }

    .navbarToggle {
      display: block;
      position: relative;
      float: right;
      padding: 9px 10px;
      margin-top: 8px;
      margin-right: 15px;
      margin-bottom: 8px;
      background-color: transparent;
      background-image: none;
      border: 1px solid transparent;
      border-radius: 4px;
    }
  }
}

@media (min-width: 320px) and (max-width: 479px) {
  .header {
    width: 320px;

    .topBarLeft {
      display: block;
    }
  }

}



