@import '../../theme/palette';

.courses {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 46px;
  left:0;
  width: 100%;
  height: 460px;
  font-family: 'roboto medium', Helvetica;
  background: $paletteColor7;
  color: $paletteColor6;

  h1 {
    width: 50%;
    display: inline-block;
    font-family: 'robotolight', sans-serif;
    letter-spacing: 0.15em;
    font-size: 45px;
    color: $paletteColor5;
    text-align: left;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    padding: 15px 5px 3px 5px;
    text-transform: capitalize;
    border-bottom: 2px solid $paletteColor5;
    margin:0 0 0 25px;
  }

  .list {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    text-align: left;
    margin-bottom: 5px;

    ul {
      display: flex;
      flex-direction: row;

      li {
        list-style: none;
        font-family: 'roboto medium', Helvetica;
        font-size: 18px;
        color: $paletteColor3;
        line-height: 1.4;

        &:first-child {
          text-align: left;
          width: 25%;
        }

        &:last-child {
          width: 65%;
        }

        .listOil {
          display: flex;
          flex-direction: column;

          li {
            text-align: left;
            width: 95%;
          }
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 959px) {
  .courses {
    min-width: 768px;
  }
}


@media (min-width: 480px) and (max-width: 767px) {
  .courses {
    min-width: 480px;

    h1 {
      font-size: 25px;
      padding: 0 10px 3px 0;
      text-transform: capitalize;
      border-bottom: 2px solid #1A9696;
      margin-left: 35px;
    }

    .list {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: column;
      text-align: left;
      margin: 0;

      ul {
        display: flex;
        flex-direction: column;
        margin: 0;

        li {
          font-size: 18px;


          &:first-child {
            text-align: left;
            width: 90%;
          }

          &:last-child {
            width: 95%;
          }

          .listOil {
            display: flex;
            flex-direction: column;

            li {
              text-align: left;
              width: 95%;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 479px) {
  .courses {
    min-width: 480px;

    h1 {
      font-size: 25px;
    }

    .list {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: column;
      text-align: left;
      margin-bottom: 0;

      ul {
        display: flex;
        flex-direction: column;

        li {
          font-size: 18px;


          &:first-child {
            text-align: left;
            width: 90%;
          }

          &:last-child {
            width: 90%;
          }

          .listOil {
            display: flex;
            flex-direction: column;

            li {
              text-align: left;
              width: 95%;
            }
          }
        }
      }
    }
  }
}