@import '../../theme/palette';

.works {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: absolute;
  top: -458px;
  left:0;
  width: 100%;
  background: $paletteColor7;
  color: $paletteColor6;
  overflow: hidden;

  h1 {
    width: 50%;
    display: block;
    font-family: 'roboto_condensedlight', sans-serif;
    letter-spacing: 0.15em;
    font-size: 45px;
    color: $paletteColor5;
    text-align: left;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    padding: 15px 10px;
    text-transform: capitalize;
    border-bottom: 2px solid $paletteColor5;
    margin:0 0 0 25px;
  }

  .list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 350px;
    text-align: left;
    margin-bottom: 15px;

    li {
      display: inline-block;
      width: 45%;
      list-style: none;
      font-family:'roboto medium', Helvetica;
      font-size: 18px;
      color: $paletteColor3;
      line-height: 1.5;
      text-align: left;

      a {
        text-decoration: none;
        padding-right: 10px;
        color: $paletteColor5;

        &:hover,
          :focus,
          :visited {
          color: $paletteColor3;
          transition: fill 500ms;
        }
      }
    }
  }
}


@media (min-width: 768px) and (max-width: 959px) {
  .works {
    min-width: 768px;
  }
}


@media (min-width: 480px) and (max-width: 767px) {
  .works {
    min-width: 480px;
    margin-bottom: 5px;

    h1 {
      font-size: 25px;
      padding: 3px;
      margin: 5px 0 0 35px;
    }

    .list {
      display: flex;
      flex-direction: column;
      margin-bottom: -60px;


      li {
        width: 90%;
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 479px) {
  .works {
    min-width: 480px;
    margin-top: 0;

    h1 {
      font-size: 25px;
      padding: 3px;
      margin-left: 25px;
    }

    .list {
      display: flex;
      flex-direction: column;
      margin-bottom: 2px;


      li {
        width: 95%;
      }
    }
  }
}
